
  <div class="table-responsive">

    <h1>Hotwire (Stimulus + Turbo) Demo</h1>

    <%= form_with(url: search_hotwire_players_path, data: { controller: 'form-submission', form_submission_target: "form" }) do |form| %>
      <%= form.label :query, "Search by name:" %>
      <%= form.text_field :query, data: { action: "input->form-submission#search" }, autocomplete: 'off'  %>
      <%= form.submit 'search', name: nil %>
    <% end %>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <%= render 'list', players: @players %>
    </table>

    <%= link_to 'New Player', new_hotwire_player_path, class: 'btn btn-primary' %>

  </div>
