
  <div class="table-responsive">

    <h1 id="page-title">Rails Scaffold Demo for Players</h1>

    <%= form_with(url: search_hotwire_players_path, method: :get) do |form| %>
      <%= form.label :query, "Search by name:" %>
      <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
    <% end %>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="players">
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= link_to 'Show', player %></td>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Player', new_player_path, class: 'btn btn-primary' %>

  </div>

