
  <div class="table-responsive">

    <h1 id="page-title"><%= get_page_title %> Demo for Players</h1>

    <%= form_with(url: get_search_players_path, method: :get) do |form| %>
      <%= form.label :query, "Search by name:" %>
      <%= form.text_field :query, value: params[:query], autocomplete: 'off' %>
      <%= form.submit 'search', name: nil %>
    <% end %>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="players">
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= link_to 'Show', get_player_path(player) %></td>
            <td><%= link_to 'Edit', get_edit_player_path(player) %></td>
            <td><%= link_to 'Destroy', get_player_path(player), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Player', get_new_player_path, class: 'btn btn-primary' %>

  </div>

