<div class="table-responsive">

  <h1>Turbo Demo</h1>

  <%= form_with(url: tb_players_path, method: "GET", data: {
    turbo: "true",
    turbo_frame: "players_turbo_frame",
    turbo_action: "advance"
  }) do |form| %>
    <%= form.label :query, "Search by name:" %>
    <%= form.text_field :query, value: params[:query], autocomplete: 'off' %>
    <%= form.submit 'search', name: nil %>
  <% end %>

  <%= turbo_frame_tag "players_turbo_frame" do %>
    <%= render "players_table", players: @players %>
  <% end %>

  <%= link_to 'New Player', new_tb_player_path, class: 'btn btn-primary' %>

</div>